/* 
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; 
*/



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1{
    font-family: "Raleway" , sans-serif ;
    font-size: 2.5rem;
    font-weight: 800;
}

.logo img{
     width: 100%;
     max-height: 100px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    /* border: 1px solid red; */
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Raleway" , sans-serif ;
    font-weight: 700;
    font-size: 1.1rem;
    /* border: 1px solid red; */
}

.nav-links li:not(:last-child){
    padding-top: 1em;
    padding-bottom: .5em;
    border-bottom: 4px solid #4BA87D;
}

.nav-links li:last-child{
    background-color: #4BA87D;
    padding: .7em .9em;
}

.nav-links .sign-up-btn {
    color: #fff;
}

@media screen and (max-width: 1500px){
    .nav-links {
        width: 60%;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .logo h4 {
        font-size: 1.7rem;
    }

}

@media screen and (max-width: 1024px){
    .nav-links {
        width: 65%;
    }

    .nav-links a {
        font-size: 0.9rem;
    }

    .logo h4 {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 780px){

    nav ul :not(:last-child){
        display: none;
    }

    nav {
        justify-content: space-around;
        /* border: 1px solid red; */
    }

    .nav-links {
        width: 35%;
        justify-content: flex-end;
        margin-right: 2em;
        /* border: 1px solid red; */
    }

}


/* ############## Header #################### */

header {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 2rem;
}

.text-header {
    position: absolute;
    font-family: "Playfair Display", sans-serif;
    font-size: 4rem;

}
 
.container-header {
    padding-top: 8em;
    display: flex;
    flex-direction: column;
}

.container-header p {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
}

.btn-header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

/* .btn-header {
    display: inline-block;
    border: 1px solid red;
} */

.btn-header-1 , .btn-header-2 {
    width: 40%;
    padding: 1.5em 3em;
}

.btn-header-1 {
    background-color: #4BA87D;
    color: #fff;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 800;

}

.btn-header-2 {
    background-color: #fff;
    color: #4BA87D;
    border: 3px solid #4BA87D;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 800;

}

section {
    width: 90%;
    margin: 4em 2em;
    
}


.banner img{
    width: 100%;
}

/* .card {
    border: 1px solid red;
    background-image: url("image/greenbg.png");
    background-repeat: no-repeat;
} */

.card-1 , .card-2{
    width: 60%;
    margin: 2em 0;
}

.card-1 img , .card-2 img{
    width: 100%;
}

.card-1 p , .card-1 a , .card-2 p , .card-2 a{
    margin: 1em;
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.card-1 a , .card-2 a{
    text-decoration: none;
    color: #4BA87D;
    font-weight: 800;
}

.card-2 {
    margin-left: auto;
}

/* ############# detail and member ############ */

.detail , .member , .email, .brands{
    margin: 4em 3em;
    text-align: center;
}

.member img {
    width: 100%;
}

.detail h1 , .email h1 , .brands h1{
    font-family: "Playfair Display", sans-serif;
    font-size: 2rem;
    font-weight: 800;

}

.detail p {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    text-align: center;
}

input {
    width: 70%;
    height: 20px;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    padding: 1em;
    
}

.email p {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #4BA87D;

}

.email button {
    width: 60%;
    padding: 1.5em 3em;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    background-color: #4BA87D;
    border: none;

}

.brands-container {
    display: grid;
    gap: 3em;
    justify-content: space-around;
    grid-template-columns: auto auto;
    /* border: 1px solid red; */
}

.brands-container img {
    width: 100%;
    /* border: 1px solid red; */
}

#last-brand {
    grid-column: 1 / 3;
    width: 50%;
    margin: 0 auto;
}

.pick-a-plan {
    background-color: #4BA87D;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;
    padding: .6em 1em;
    padding-bottom: 2em;
}

.pick-a-plan button {
    width: 50%;
    padding: 1em .1em;
    background-color: #fff;
    color: #4BA87D;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;

}

.footer {
    width: 90%;
    margin: 3em auto;
   
    /* border: 1px solid red; */
}

.footer p {
    margin: 5em 0;
    font-family: "Raleway", sans-serif;
    font-size: .9rem;
    font-weight: 700;
    line-height: 2.5em;
}

#param-2 {
    margin-bottom: 1em;
}

#last-param {
    margin-top: 1em;
    /* border: 1px solid red; */
}

.logo-footer {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.logo-footer h1 {
    font-family: "Raleway" , sans-serif ;
    font-size: 1.5rem;
    font-weight: 800;
}

.grid-footer {
    padding-bottom: 2em;
    border-bottom: 2px solid #DBDBDB;
}

.grid-footer ul {
    list-style: none;
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto;
    /* line-height: 2em; */

}

.grid-footer a {
    text-decoration: none;
    color: #000;
    font-family: "Raleway" , sans-serif ;
    font-size: 1rem;
    font-weight: 700;
}

#templates , #case-studies {
    grid-column: 1 / span 2;
}

